source [find openocd.cfg]
source [find target/stm32f3x.cfg]

reset_config trst_only
adapter_khz 4000

# Switch to command mode
init

reset halt

# Set the test index and test iteration to 0 (RTC_BKP_DR0, RTC_BKP_DR1)
# Enable RCC power
mww 0x40023840 0x10000000

# Enable access to backup registers
mwb 0x420E0020 1

# Clear DR0
mwh 0x40002850 0

# Clear DR1
mwh 0x40002854 0

# Clear the reset reason
mwb 0x40023877 0x01

# Reset Debug in Standby register
mww 0xE0042004 0x00000000
